/* .remark-slide-content {
  font-size: 28px;
}
*/

.large { font-size: 130% }
.small { font-size: 70% }

/* https://community.rstudio.com/t/using-multiple-font-sizes-for-code-chunks/26405/5 */
.large .remark-code {
  font-size: 80% !important;
}
.medium .remark-code {
  font-size: 70% !important;
}
.small .remark-code {
  font-size: 50% !important;
}
.tiny .remark-code {
  font-size: 30% !important;
}
